<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign In Page</title>
    <!-- Bootstrap CSS import -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome CSS Link -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <style>
        .no-text-decoration {
            text-decoration: none;
        }
        body {
            background: linear-gradient(to right, #6a11cb, #2575fc);
            color: #fff;
        }
        .card {
            background-color: rgba(255, 255, 255, 0.8);
        }
        .oauth {
            width:200px;
            margin:auto;
        }

    </style>
</head>
<body>
<div class="container mt-5">
    <!-- Error Message -->
    <ul class="alert alert-danger no-text-decoration" th:if="${error}">
        <li th:text="${error}">
            エラーメッセージ
        </li>
    </ul>

    <!-- Login Form -->
    <form class="card p-4 shadow-sm" method="post" th:action="@{/login}">
        <h2 class="text-center mb-4">Sign In</h2>
        <div class="mb-3">
            <label class="form-label" for="username">Email:</label>
            <input class="form-control" id="username" name="username" placeholder="Enter email" type="text">
        </div>
        <div class="mb-3 position-relative">
            <label class="form-label" for="password">Password:</label>
            <input class="form-control" id="password" name="password" placeholder="Enter password" type="password">
            <button class="btn position-absolute top-50 end-0 mt-3 translate-middle-y"
                    onclick="togglePasswordVisibility()"
                    type="button">
                <i class="fas fa-eye"></i>
            </button>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit"><i class="fa fa-sign-in-alt"></i> Sign In</button>
        </div>
    </form>
    <div class="card oauth mt-3">
        <a class="btn btn-success btn-block"
           th:href="@{/oauth2/authorization/{clientId}(clientId=${clientId})}">
            Sign in with Google
        </a>
    </div>

</div>

<script>
    function togglePasswordVisibility() {
        let passwordInput = document.getElementById('password');
        let passwordButton = document.querySelector('.btn i');
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            passwordButton.classList.remove('fa-eye');
            passwordButton.classList.add('fa-eye-slash');
        } else {
            passwordInput.type = 'password';
            passwordButton.classList.remove('fa-eye-slash');
            passwordButton.classList.add('fa-eye');
        }
    }
















</script>
</body>
</html>
